.header {}

.menu {}

.menuList {
    margin: 20px auto;
    text-align: center;
    /* margin-top: ;
    margin-right: ;
    margin-bottom: ;
    margin-left: ; */

    /* margin: 10px 20px 30px 40px; */
    
}

.menuListItem {
    list-style: none;
    display: inline-block;
    margin-right: 103px;
}

.menuListItem:last-child {
    margin-right: 0;
}

.itemLink {
    font-size: 14px;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
}

.itemLink:hover {
    color: aqua;
}
