@import url('./variables.css');

.header {
    background-color: var(--black-text-color);
}

.header > .wrapper {
    padding-top: 21px;
    padding-bottom: 21px;
}

.logo {}

.logo_link {
    color: var(--white-color);
}

.logo_link:hover {
    color: var(--orange-color);
}
