.collection {
  background-color: #e9f0fd;
  padding-bottom: 100px;
}

.collection_wrapper {
  width: 1110px;
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
}

.collection_title {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 48px;
  color: rgb(81, 81, 81);
  text-transform: uppercase;
  margin-bottom: 82px;
}

.collection_title::after {
  content: "";
  display: block;
  width: 164px;
  height: 7px;
  background-color: #1abc9c;
  margin: 32px auto 0 auto;
}

.collection__card_wrapper {
  /* margin-bottom: 100px; */

  display: flex;
  justify-content: space-between;
}

.collection__card {
  width: 255px;
  height: 322px;
  font-size: 0;

  position: relative;
}

.card_image {
  width: 255px;
  height: 282px;
}

.card__title_wrapper {
  display: flex;
}

.card__title {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 18px;
  text-align: left;
  color: #fff;
  width: 200px;
  height: 40px;
  background-color: #323232;
  line-height: 40px;
  padding-left: 14px;
  text-transform: uppercase;
}

.card__price {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 18px;
  color: #fff;
  width: 55px;
  height: 40px;
  background-color: #8c8c8c;
  line-height: 40px;
}

.collection__card:hover .card__title {
  background-color: #1abc9c;
}

.collection__card:hover .card__price {
  background-color: #7fd9c7;
}

.card_hidden {
  background-color: rgba(0, 0, 0, 0.4);
  width: 235px;
  height: 262px;

  position: absolute;
  top: 10px;
  left: 10px;

  transform: scale(1.1);

  /* display: none; */
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out, transform 300ms ease-in-out;
}

.collection__card:hover .card_hidden {
  /* display: block; */

  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  transform: scale(1);
}

.card__btn_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 166px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn_action {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid #fff;
  margin-bottom: 7px;
}

.btn_action:hover {
  background-color: #1abc9c;
}

.cart_btn {
  width: 166px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid #fff;

  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.cart_btn:hover {
  background-color: #323232;
}

.cart_icon {
  margin-right: 20px;
}
