.container {
    height: 100px;
    max-width: 960px;
    min-width: 320px;
    display: flex;
    justify-content: space-between;
}

.left {
    background-color: green;
    /* width: 240px; */
    /* 240 / 960 = 0.25 * 100% = 25% */
    width: 25%;
}

.content {
    background-color: tomato;
    width: 46%;
    /* margin-right: 2%;
    margin-left: 2%; */
}

.right {
    background-color: blue;
    width: 25%;
}
/* true || false */

@media screen and (min-width: 500px) and (orientation: landscape) {
    .right {
        background-color: yellow;
    }
}

@media (min-width: 800px) {
    .right {
        background-color: orange;
    }
}

.img_wrapper {
    width: 100%;
}

.img {
    display: block;
    width: 350px;
    max-width: 100%;
    height: auto;
}